<%= div_for @photo, class: 'photo-detail' do %>
  <%= @photo.image %>

  <% unless @photo.comment.blank? %>
    <div id="comment">
      <p>
        <%= @photo.comment %>
        <span>&nbsp-&nbsp</span>
        <%= @photo.owner_name %>
      </p>
    </div>
  <% end %>

  <% unless @photo.tags.blank? %>
    <div id="tag-list">
      <p><%= @photo.tag_list %></p>
    </div>
  <% end %>

  <hr/>

  <div id="menu">
    <ul id="like-menu">
      <% if @photo.owner?(current_user) %>
        <li><%= @photo.unlike %></li>
      <% else %>
        <li><%= @photo.like %></li>
      <% end %>
    </ul>

    <ul id="photo-menu">
      <li><%= @photo.edit %></li>
      <li><%= @photo.destroy %></li>
      <li>
        <%= link_to :root, class: 'btn btn-inverse' do %>
          <i class="icon-arrow-left"></i>
          Back
        <% end %>
      </li>
    </ul>
  </div>

  <div class="clear"></div>
<% end %>